include includes/layout.pug

block content
h1 Day Planner Menu
p Here is the weather for #{data.name}:
p The temperature is #{temp}	&#8457;
ul
    each date in dates
        a(href="/datePage/" + dates.indexOf(date))
            li.date #{date}
        br
include includes/footer.pug        