include includes/layout.pug

block content
h1 Day Planner Menu
p.city Here is the weather for 
    input.location(type="text", name="getLocation")
    button.submitLocation(type="submit") Submit
p.temperature
ul
    each date in dates
        a(href="/datePage/" + dates.indexOf(date))
            li.date #{date}
        br
include includes/footer.pug        